@import "tailwindcss";

/* 
@utility container {
  padding-left: 10rem;
  padding-right: 10rem;
}

@utility container-sm {
  padding-left: 0rem;
  padding-right: 0rem;
} */

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
